.git
.venv
**/__pycache__
**/.DS_Store
webtool/frontend/node_modules
webtool/frontend/dist
webtool/state.sqlite3*
webtool_data
ExtractedISO
unpacked_mkd
textures_static
textures_translated
rebuilt_mkd
results
work
iso_mkd
*.iso
*.BIN
*.MKD
*.mrg
*.pse
*.xcf
assets/fonts/*.ttf
assets/fonts/*.ttc
assets/fonts/*.otf
assets/fonts/*.woff
assets/fonts/*.woff2
assets/fonts/**/*.ttf
assets/fonts/**/*.ttc
assets/fonts/**/*.otf
assets/fonts/**/*.woff
assets/fonts/**/*.woff2
